<section id="first" class="main special">
    <header class="major">
        <h2>{{ page.first.title }}</h2>
        <p>
          and made <a href="/portfolio/">these</a> with them
        </p>
    </header>
    <ul class="features">
        {% for feat in page.first.features %}
        <li>
          <a href="{{ feat.link }}">
            <span class="devicon major {{ feat.icon }} {{ feat.clr }}"></span>
          </a>
            <!-- <h3>{{ feat.name }}</h3> -->
        </li>
        {% endfor %}
    </ul>

    <!-- <footer class="major">
        <ul class="actions">
            <li><a href="/" class="button">My portfolio</a></li>
        </ul>
    </footer> -->
</section>
