<footer id="footer">
    <section>
        <h2>{{ page.foot.name }}</h2>
        <p>{{ page.foot.desc }}</p>
        <!-- <ul class="actions">
            <li><a href="{{ page.foot.link }}" class="button">Learn More</a></li>
        </ul> -->
    </section>
    <section>
        <h2>Contact me</h2>
        <dl class="alt">
            <dt>Address</dt>
            <dd>{{ site.author.address }}</dd>
            <dt>Phone</dt>
            <dd>{{ site.author.phone }}</dd>
            <dt>Email</dt>
            <dd><a href="#">{{ site.author.email }}</a></dd>
        </dl>
        <ul class="icons">
            <li><a href="{{ site.author.twitter }}" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
            <li><a href="{{ site.author.fb }}" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
            <li><a href="{{ site.author.instagram }}" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
            <li><a href="{{ site.author.github }}" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
            <!-- <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li> -->
        </ul>
    </section>
    <p class="copyright">&copy; {{ site.author.name }}. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll Integration: {{ site.author.name }}</p>
</footer>
