<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{"/assets/css/main.css" | prepend: site.url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="stylesheet" href="{{ "/assets/css/devicon.min.css" | prepend: site.url }}"/>
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | prepend: site.url }}" />
    <script src="{{ "/assets/js/jquery.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/jquery.scrollex.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/jquery.scrolly.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/skel.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/util.js" | prepend: site.url }}"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="{{ "/assets/js/timeline.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/main.js" | prepend: site.url }}"></script>
</head>
