<header id="header" class="alt">
    <a href="{{ site.url }}"><span class="logo" ><img src="{{ "/assets/images/logo.svg" | prepend: site.url }}" alt="" /></span></a>
    <h1>{{ site.title }}</h1>
    <p>{{ site.author.msg }}</p>
</header>
