<section id="intro" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>{{ page.intro.title }}</h2>
            </header>
            <p>{{ page.intro.content }}</p>
            {% if page.intro.button %}
            <ul class="actions">
                <li><a href="{{ page.intro.button.link }}" class="button">{{ page.intro.button.text }}</a></li>
            </ul>
            {% endif %}
        </div>
        <span class="image"><img src="{{ "/assets/images/pp.jpg" | prepend: site.url }}" alt="" /></span>
    </div>
</section>
