<nav id="nav">
    <ul>
        <li><a href="#intro" class="active">Introduction</a></li>
        <li><a href="#first">Skills</a></li>
        <li><a href="#cta">Experience</a></li>
        <li><a href="#second">Hobbies</a></li>
    </ul>
</nav>
