<section id="cta" class="main">
    <header class="major special">
        <h2>{{ page.second.title }}</h2>
    </header>
    <div id="main">
      <section>
        {% include timeline.html %}
      </section>
    </div>
    <section class="special">
      <ul class="actions">
        <li><a href="{{ site.author.cv }}" class="icon fa-file-text-o alt" title="Full CV"></a></li>
      </ul>
    </section>
</section>
