<section id="second" class="main special">
  <header class="major">
    <h2>{{ page.third.title }}</h2>
    <p>{{ page.third.sub }}</p>
  </header>
  <ul class="statistics">
    {% for hob in page.third.hobbies %}
    <li class="{{ hob.clr }}">
      <a href="{{ hob.link }}"><span class="icon {{ hob.icon }}"></span></a>
      <strong>{{ hob.name }}</strong>
    </li>
    {% endfor %}
  </ul>
  <!-- <p class="content">{{ page.third.desc}}</p> -->
  <!-- <footer class="major">
    <ul class="actions">
      <li><a href="/" class="button special">Get Started</a></li>
      <li><a href="generic.html" class="button">Learn More</a></li>
    </ul>
  </footer> -->
</section>