<div class="timeline">
  <div class="timeline__wrap">
    <div class="timeline__items">
      
      {% for work in page.second.exp %}
      <div class="timeline__item">
        <div class="timeline__content">
            <p>{{ work.time }}</p>
            <h3>
              <strong class="style3">{{ work.pos }} &mdash; {{ work.comp }}</strong>
            </h3>
            <div class="text--subtle">
              <strong>Duties</strong>
              <ul class="exp">
                {% for duty in work.duties %}
                <li>{{ duty.desc }}</li>
                {% endfor %}
              </ul>
              <strong>Achievement</strong>
              <ul class="exp">
                {% for achi in work.achi %}
                <li>{{ achi.desc }}</li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>