///
/// Stellar by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Features */

	.features {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		@include vendor('justify-content', 'center');
		width: calc(100% + #{_size(element-margin)});
		margin: 0 0 (_size(element-margin) * 1.5) (_size(element-margin) * -1);
		padding: 0;
		list-style: none;

		li {
			// width: calc(#{(100% / 3)} - #{_size(element-margin)});
			margin-left: (_size(element-margin) + 1);
			// margin-top: (_size(element-margin) * 1.5);
			margin-top: 1em;
			padding: 0;

			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					margin-top: 1em;
				}
			}

			> :last-child {
				margin-bottom: 0;
			}

			.devicon {
				cursor: pointer;
			}

			a {
				border-bottom: none;
			}
		}

		@include breakpoint(medium) {
			li {
				// width: calc(#{(100% / 2)} - #{_size(element-margin)});

				&:nth-child(3) {
					// margin-top: (_size(element-margin) * 1.5);
					margin-top: 0em;
				}
			}
		}

		@include breakpoint(small) {
			width: 100%;
			margin: 0 0 _size(element-margin) 0;

			li {
				width: 100%;
				margin-left: 0;
				margin-top: _size(element-margin);

				@for $i from 2 through 15 {
					&:nth-child(#{$i}){
						margin-top: _size(element-margin);
					}
				}
			}
		}
	}
