/* Phone */

#phone {
    float: left;
    position: relative !important;
    border-radius: _size(phone-radius);
    border: solid black;
    margin-bottom: _size(element-margin);
    width: _size(phone-width);
    height: _size(phone-height);
    background-color: black;
    #phonescreen {
        position:relative !important;
        border-radius: _size(phonescreen-radius);
        height: _size(phonescreen-height);
        top: 1.5em;
        background-color: ghostwhite;
        background-image: url("../images/portfolio/chateaux4.png");
        background-size: cover;
        background-position-y: -1.1em;
    }
    #camera-front {
        position:relative !important;
        border-radius: 100%;
        height: 0.5em;
        width: 0.5em;
        top: 0.85em;
        left: 5em;
        background-color: lightgray;
    }
    #phone-speaker {
        position: relative;
        border-radius: 1em;
        height: 0.3em;
        width: 8em;
        top: 0.45em;
        left: 6.5em;
        background-color: lightgray;
    }
}