<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" /> <!-- to import devicon -->
		<!--[if lte IE 9]><link rel="stylesheet" href="../assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="../assets/css/devicon.min.css"/>
		<link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png" />
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/jquery.scrollex.min.js" ></script>
		<script src="../assets/js/jquery.scrolly.min.js"></script>
		<script src="../assets/js/skel.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="../assets/js/main.js"></script>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<h1>{{ page.title }}</h1>
					<p>{{ page.sub }}</p>
				</header>

				<!-- Nav -->
					<!--{% include menu.html %}-->

				<!-- Portfolio items -->
				<div id="phone">
					<div id="camera-front"></div>
					<div id="phone-speaker"></div>
					<div id="phonescreen"></div>
				</div>

				<h1>This is <a href="#">Chateaux!</a></h1>

				<!-- Footer -->
					{% include footer.html %}

			</div>

	</body>
</html>
