<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	{% include head.html %}
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" class="alt">
					<a href="{{ site.url }}"><span class="logo" ><img src="{{ "/assets/images/logo.svg" | prepend: site.url }}" alt="" /></span></a>
					<h1>{{ page.title }}</h1>
					<p>{{ page.description }}</p>
				</header>
					
				<!-- Nav -->
					<!-- {% include menu.html %} -->

				<!-- Main -->
				<div id="main">

					<!-- Content -->
						<section id="content" class="main">
							<!-- <span class="image main"><img src="{{"/assets/images/pic04.jpg" | prepend: site.url }}" alt="" /></span> -->
							<!-- <h2>{{ page.title2 }}</h2> -->
							<p>{{ content }}</p>
						</section>

				</div>

				<!-- Footer -->
				{% include footer.html %}

			</div>

	</body>
</html>
