<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <div id="wrapper">
            <header id="header" class="alt">
                <a href="{{ site.url }}"><span class="logo" ><img src="{{ "/assets/images/logo.svg" | prepend: site.url }}" alt="" /></span></a>
                <h1>Places I have been to</h1>
                <p>List of reviews and itineraries of my travel. I hope they will help you as they did for me.</p>
            </header>
                    
            <div id="main">
                <section id="content" class="main">
                    {% for post in site.posts %}
                        {% if post.category == "travel" %}
                            <a href="{{ post.url | absolute_url }}">
                                <div class="12u$">
                                    <span class="imge fit"><img src="{{ "/assets/images/travel/" | append: post.image | prepend: site.url }}" alt="" /></span>
                                </div>
                                
                            </a>
                        {% endif %}
                    {% endfor %}
                </section>
            </div>

            {% include footer.html %}
        </div>
    </body>

</html>